<?xml version="1.0"?>
<!--
Software License Agreement (BSD)

\file      husky_empty_world.launch
\authors   Paul Bovbel <pbovbel@clearpathrobotics.com
\copyright Copyright (c) 2015, Clearpath Robotics, Inc., All rights reserved.

Redistribution and use in source and binary forms, with or without modification, are permitted provided that
the following conditions are met:
 * Redistributions of source code must retain the above copyright notice, this list of conditions and the
   following disclaimer.
 * Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the 
   following disclaimer in the documentation and/or other materials provided with the distribution.
 * Neither the name of Clearpath Robotics nor the names of its contributors may be used to endorse or promote
   products derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WAR-
RANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, IN-
DIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<launch>
  <!-- master_name needs to be a unique name for this robot -->
  <arg name="master_name" default="robot1" />

  <!-- Robot common sim/real configuration -->
  <include file="$(find husky_control)/launch/control.launch"></include>

  <!-- Multimaster configuration for this robot -->
  <node pkg="master_discovery_fkie" type="master_discovery" name="master_discovery"/>
  <node pkg="master_sync_fkie" type="master_sync" name="master_sync">
    <rosparam param="sync_topics">
        - /robot*
    </rosparam>
    <rosparam param="sync_services">
        - /robot*
    </rosparam>
  </node>

  <!-- Topic import/export configuration -->
  <node pkg="topic_tools" type="relay" args="/husky_velocity_controller/cmd_vel /$(arg master_name)/husky_velocity_controller/cmd_vel" name="$(arg master_name)_export_cmd_vel"></node>

  <!-- Service import/export configuration -->
  <node pkg="service_tools" type="relay.py" args="/$(arg master_name)/controller_manager/load_controller /controller_manager/load_controller controller_manager_msgs LoadController" name="$(arg master_name)_import_gazebo_load_controller"></node>
  <node pkg="service_tools" type="relay.py" args="/$(arg master_name)/controller_manager/switch_controller /controller_manager/switch_controller controller_manager_msgs SwitchController" name="$(arg master_name)_import_gazebo_switch_controller"></node>
  <node pkg="service_tools" type="relay.py" args="/$(arg master_name)/controller_manager/unload_controller /controller_manager/unload_controller controller_manager_msgs UnloadController" name="$(arg master_name)_import_gazebo_unload_controller"></node>

</launch>
